.Project-Panel {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #fff;
  }
}

.Project-Link {
  border-radius: 0.4em;
  border-style: solid;
  border-width: 0.2em;
  color: #A9A9A9;
  font-size: 0.6em;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;

  a {
    color: gray;
  }
}
